@import "../variables.scss";

.container {
  max-width: $max-board-width;
  margin: 0 auto;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.heading {
  flex: 1 0 150px;
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 8px;
  align-items: flex-end;
  justify-content: space-between;
  .title-container {
    flex: 1;
    .title {
      font-size: min(60px, 14vmin);
      line-height: 1;
      padding: 8px;
      margin: 0;
    }
    .slogan {
      font-style: italic;
    }
  }
  .scores-container {
    flex: 0 0 140px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    .card {
      flex: 1;
      all: unset;
      border-radius: 4px;
      border: 1px solid #eee;
      background-color: $button-color;
      height: 30px;
      margin: 0 4px 8px;
      padding: 4px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;
      font-size: min(30px, 10vmin);;
      font-weight: 700;
      line-height: 24px;
      &-label {
        display: inline-block;
      }
      &-value {
        display: inline;
        width: 50px;
        text-align: center;
      }
    }
    .card:hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  }
}

.board {
  flex: 0;
}


.operation {
  flex: 0 0 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  button {
    // min-width: 80px;
    margin-left: 8px;
    font-size: 20px;
    height: 32px;
    font-weight: 600;
    line-height: 1;
    display: inline-block;
    &:last-child {
      margin-right: 8px;
    }
    flex: 1;
  }
}

.game-intro{
  margin: 0;
  flex: 2 0 auto;
}