<div class="container">
  <nav>
    <ol>
      <li><a app-menu routerLink="/classic" routerLinkActive="active" ariaCurrentWhenActive="page">经典模式</a></li>
      <li><a app-menu routerLink="/custom" routerLinkActive="active" ariaCurrentWhenActive="page">自创模式</a></li>
      <li><a app-menu routerLink="/mine" routerLinkActive="active" ariaCurrentWhenActive="page">个人中心</a></li>
      <li><a app-menu routerLink="/tutorial" routerLinkActive="active" ariaCurrentWhenActive="page">简单教程</a></li>
    </ol>
  </nav>
</div>

