@import "../../../variables.scss";

$border-width: 4px;
$border-style: solid $border-width black;
$ripple-color: $gray-4;

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes rotate {
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba($ripple-color, 0.3),
      0 0 0 1px rgba($ripple-color, 0.3), 0 0 0 1px rgba($ripple-color, 0.3),
      0 0 0 3px rgba($ripple-color, 0.3);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($ripple-color, 0.3),
      0 0 0 1px rgba($ripple-color, 0.3), 0 0 0 5px rgba($ripple-color, 0),
      0 0 0 10px rgba($ripple-color, 0);
  }
}

@mixin hole-color($hole-color) {
  background-image: linear-gradient(
    to bottom,
    $hole-color,
    darken($hole-color, 10%)
  );
  background-color: $hole-color;
  box-shadow: 0px 3px 8px $gray-7, inset 0px 3px 1px 1px $hole-color,
    inset 0px -2px 1px 1px darken($hole-color, 15%);
}

.hole {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spot {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 20%;
  height: 20%;
  background-color: $cyan-9;
  border-radius: 50%;
  z-index: 1;
  &.spot-target {
    background-color: $red-5;
    transition: all 0.5s ease;
  }
}

.peg {
  display: block;
  width: 70%;
  height: 70%;
  line-height: 1;
  text-align: center;
  border-radius: 50%;
  z-index: 2;
  @include hole-color($gray-1);
}

.peg.peg-1 {
  @include hole-color($yellow-1);
}
.peg.peg-2 {
  @include hole-color($yellow-2);
}
.peg.peg-3 {
  @include hole-color($yellow-3);
}
.peg.peg-4 {
  @include hole-color($yellow-4);
}
.peg.peg-5 {
  @include hole-color($yellow-5);
}
.peg.peg-6 {
  @include hole-color($yellow-6);
}
.peg.peg-7 {
  @include hole-color($yellow-7);
}
.peg.peg-8 {
  @include hole-color($yellow-8);
}
.peg.peg-9 {
  @include hole-color($yellow-9);
}

.peg.peg-selected {
  @include hole-color($cyan-3);
  animation: pop 200ms ease 100ms;
  animation-fill-mode: both;
}

.peg.peg-jumpable {
  animation: ripple 1.5s linear infinite;
}

.peg.peg-selected.peg.peg-jumpable {
  animation: ripple 1.5s linear infinite, pop 200ms ease 100ms 1 both;
}
