@import "../../../variables.scss";

:host {
  all: unset;
  position: relative;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: $text-color;
  height: 36px;
  line-height: 1;
  font-size: 36px;
  padding: 8px 12px;
  transform: skew(-25deg);
  border: 4px dashed $gray-7;
}
